@import '../../theme';

.FormInput {
  position: relative;
  margin: 0 0 15px;

  &:last-child {
    margin: 0;
  }

  &-Body {
    position: relative;

    &-copied {
      margin-right: 49px;
    }
  }

  &-ValidationMessage {
    color: $ValidationMessage--color;
  }

  &-Label {
    transform-origin: left;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 16px;
    top: 16px;
    left: 16px;
    color: #909090;
    cursor: auto;

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        top: 18px;
      }
    }

    &-filled {
      position: absolute;
      transition: all 0.1s;
      transform: scale(0.5) translate(0, -30px);
      font-weight: bold;
      color: #505050;
    }
  }

  &-Input {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid $input-border-color;
    padding: 15px 15px 13px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 2px 5px 0 rgba(black, 0.2);

    border-radius: 0;
    -webkit-appearance: none;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid $input-border-color-hover;
    }

    &-invalid {
      border-color: $ValidationMessage--color;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid $ValidationMessage-active--color;
      }
    }

    &-sync {
      padding-right: 45px;
    }

    &-togglePassword {
      padding-right: 45px;
    }
  }

  &-TogglePassword {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 13px;
    top: 13px;
    cursor: pointer;
    color: $color1;
  }

  &-SyncButton {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 13px;
    top: 13px;
    cursor: pointer;

    &-rotation {
      animation-name: rotation;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.52, 0.5, 0.25, 1);

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &-CopyButton {
    &-copied {
      width: 49px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.FormInput-TogglePassword ~ .FormInput-SyncButton {
  right: 45px;
}

.FormInput-Input-sync.FormInput-Input-togglePassword {
  padding-right: 80px;
}
