@import '../../theme';

.EditableInput {
  display: block;
  position: relative;
}

.EditableInput-View {
  display: block;
  position: relative;
}

.EditableInput-ViewContent {
  display: block;
  position: relative;
  margin-right: 90px;
}

.EditableInput-NameLabel {
  font-weight: bold;
  margin-right: 5px;
  color: $mainTextColor;

  &:after {
    content: ':';
  }
}

.EditableInput-ValueLabel {
  cursor: pointer;
  border-bottom: 1px dashed $mainTextColor;;
  position: relative;
  color: $mainTextColor;

  &:after {
    content: url('../../resources/images/edit.svg');
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    vertical-align: bottom;
  }
}

.EditableInput-Edit {
  display: block;
}

.EditableInput-ValueEdit {
  margin-right: 98px;
}

.EditableInput-ShowViewButton,
.EditableInput-ApplyButton {
  width: 49px;
  position: absolute;
  top: 0;
}

.EditableInput-ShowViewButton {
  right: 0;
}

.EditableInput-ApplyButton {
  right: 49px;
}
