$mainActionColor: #b3141c;
$mainActionTextColor: #FFFFFF;
$secondActionColor: #DEDEDE;
$secondActionTextColor: #981b22;

$backgroundColor: #554183;
$formBackgroundColor: #FFFFFF;

$mainTextColor: #1F1F1F;
$emptyTextColor: #909090;
$errorTextColor: #E00018;
$secondTextColor: #F1EDE2;

$editBackgroundColor: #F2F2F2;
$editBorderColor: #F2F2F2;

$alertBackgroundColor: #F2E8CF;
$alertTextColor: #F2E8CF;
