$mainActionColor: #bb010b;
$mainActionTextColor: #faf8f8;
$secondActionColor: #DEDEDE;
$secondActionTextColor: #bb010b;

$backgroundColor: #006f57;
$formBackgroundColor: #faf8f8;

$mainTextColor: #4c191b;
$emptyTextColor: #866769;
$errorTextColor: #E00018;
$secondTextColor: #F1EDE2;

$editBackgroundColor: #F2F2F2;
$editBorderColor: #F2F2F2;

$alertBackgroundColor: #F2E8CF;
$alertTextColor: #F2E8CF;
